.git
.cache
*.class
*.jar
*.war
*.ear
*.json
*.pyc
*.out
*.enamex
*.tagged
*.bak
.gradle
.idea
.DS_Store
hs_err_pid*
lib
build
out
gradle
gradlew
gradlew.bat
scripts/*.tsv
scripts/*.csv
scripts/*.pkl
!scripts/triple-selector.train.csv
src/main/resources/*
src/test/resources/*
!src/main/resources/*.sql
!src/main/resources/*.model
!src/main/resources/*.model.gz
!src/main/resources/*.model.ser.gz
!src/test/resources/*.sql
!src/test/resources/plain.txt
!scripts/PennTreeBankToUniversal.csv
!build/distributions/*.zip
!doc/presentation/*.json
doc/presentation/*.md
doc/presentation/*.yml
!doc/presentation/test/
!doc/presentation/lib/
